/* general */
* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;


}

/* cabecera y menu*/
header {
    background-color: #fdfff9;
    margin: auto;
    width: 70%;
}



#error {
    margin-top: 10px;
    font-size:small;

}

.iniciosesion {
    float: right;
}

.logo {
    background-color: #fdfff9;
}

.c_menu {
    top: 35px;
    padding: 60px;
    width: 70%;
}

.busqueda {
    position: relative;
    top: -7px;

}

/* carrosel*/
.slide {
    width: 70%;
    position: relative;
    margin: auto;
    color: black
}


/* cuerpo */
body {
    background-color: #8fbd4f;
    height: 100%;
    margin: auto;
}

.mensaje {
    margin: auto;
    text-align: center
}

.quienessomos {
    width: 50%;
    margin: auto;
    text-align: center
}

.principal {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    width: 70%;
}

.boton_menu {
    margin: auto;
}

.box1 {
    position: relative;
    top: 150px;


}

.categoria {
    position: relative;

}


.categoriatag {
    color: #054d3b;

    text-align: center
}

.destacados {

    background-color: #054d3b;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top: 20px;
}

.producto_nombre {
    font-weight: 800;
}


.Ofertas {
    position: relative;
    top: 20px;
    margin-bottom: 30px;
    background-color: #054d3b;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;

}

div.producto {
    width: 100%;
    margin: 20px auto;
    color: black;
    padding: 15px;
}

div.producto img.izquierda {
    float: left;
    width: 30%;
    margin-right: 15px;
}

table,
td,
tr {

    border: 1px solid black;
    padding: 5px;
}

.producto_desc {
    border: 1px solid black;
    padding: 5px;

}

.cuadroproducto {
    background: #fcfcfc;
    padding: 20px;
}

.paginacion {
    position: relative;
    top: 20px;
}

/* footer */

.footer-style {
    padding-top: 50px;
    background-color: #054d3b;
    margin: auto;
}

footer {
    color: white;
    width: 70%;
}

footer h3 {
    margin-bottom: 30px;

}

footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
}

footer a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
}

footer a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
    color: black;


}

footer a:active {
    background: #265301;
    color: #CDFEAA;
}


.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    border: 0;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    position: relative;
    margin: auto;
    width: 70%;

}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;


}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #265301;
    background-color: #8fbd4f !important;


}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;


}

.dropdown li a {
    background-color: #054d3b;
    color: #fff !important;


}

.navbar-default .navbar-nav>.open>a.dropdown-toggle {
    background-color: #f4511e !important;



}

table thead {
    background: #054d3b;
    color: white;
}

span {   
    border-radius:2px; 
    display: block;
    font-size: .8em;    
    margin-top: 7px;
    padding: 5px 0 5px 11px;
    width: 200px
 

}

.confirmacion {
    color: #2ec456;
    font-weight: bolder; 
   
}

.negacion {

    color:#dd0037;
    font-weight: bolder; 
 
}